@charset "UTF-8";
/*全体　共通
最初から設定してあるので特に変更
しなくても大丈夫です♪
-----------------*/
body {
  overflow-x: hidden;
  font-family: Roboto, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  line-height: 1.75;
  text-align: justify;
  font-size: 16px;
  color: #111;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/*　パディングをサイズ内側にする処理　*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/*ーーーーーーーーーーー*/
/*この下から記述*/
/*ーーーーーーーーーーー*/
/* ------------------------------------

cmn設定

------------------------------------ */
@media print, screen and (max-width: 760px) {
  .pc {
    display: none !important;
  }

  .sp-mini {
    display: none !important;
  }
}
@media screen and (max-width: 320px) {
  .sp-mini {
    display: inherit !important;
  }
}
@media print, screen and (min-width: 761px) {
  .sp {
    display: none !important;
  }

  .sp-mini {
    display: none !important;
  }
}
a {
  color: inherit;
}
a:hover img {
  opacity: 0.7;
}

/* ------------------------------------

Page設定

------------------------------------ */
.container {
  width: 80%;
  margin: 0 auto;
}

.title_section h1 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  background: #7494c0;
  overflow: hidden;
  max-width: 400px;
  font-size: 80%;
  /* タイトル部分 */
}
.container .chat__title {
  background: #273246;
  padding: 10px;
  text-align: center;
  font-size: 150%;
  color: #ffffff;
}

.line__contents {
  padding: 10px;
  overflow: hidden;
  line-height: 135%;
  /* 相手の会話 */
}
.line__contents.scroll {
  height: 400px;
  overflow-y: scroll;
}
.line__contents .line__left {
  width: 100%;
  position: relative;
  display: flex;
  margin-bottom: 5px;
  max-width: 80%;
  clear: both;
  /* アイコン画像 */
  /* コメントエリア */
}
.line__contents .line__left figure {
  width: 50px;
  padding: 0;
  margin: 0;
}
.line__contents .line__left figure div {
  font-size: 10px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  background: #111;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line__contents .line__left .text_area {
  margin-left: 20px;
}
.line__contents .line__left .text_area .line_name {
  font-size: 80%;
  color: #ffffff;
}
.line__contents .line__left .text_area .line_date {
  font-size: 80%;
  color: #ffffff;
}
.line__contents .line__left .line_text {
  margin: 0;
  position: relative;
  padding: 10px;
  border-radius: 20px;
  background-color: #ffffff;
  min-height: 38px;
  /* 吹き出し */
}
.line__contents .line__left .line_text::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -10px;
  top: 10px;
  border-right: 20px solid #ffffff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

form fieldset {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
form fieldset .in_name input[type=text],
form fieldset .in_name textarea, form fieldset .in_text input[type=text],
form fieldset .in_text textarea {
  font: 15px/1.6 sans-serif;
  box-sizing: border-box;
  padding: 0.3em;
  background: #fff;
  border-radius: 4px;
  transition: 0.3s;
  width: 100%;
}
form fieldset .in_name .ef input[type=text]:focus, form fieldset .in_text .ef input[type=text]:focus {
  border: 1px solid #273246;
  box-shadow: 0 0 5px 1px rgba(39, 50, 70, 0.5);
  outline: none;
}
form fieldset .in_name {
  width: 30%;
  margin-bottom: 5px;
  justify-self: flex-start;
}
form fieldset .in_text {
  width: 85%;
}
form fieldset .in_btn {
  width: 13%;
}
form fieldset .in_btn button {
  width: 100%;
  background: #273246;
  color: #fff;
  text-align: center;
  font-size: 10px;
  height: 50px;
  line-height: 50px;
  border-radius: 4px;
}

/*# sourceMappingURL=style.css.map */
